.auctions-container {
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-family: Arial, sans-serif; 
  color: #333; 
}

.auctions-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.auction-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  width: calc(25% - 20px); 
  text-align: center;
  position: relative;
  transition: transform 0.2s; 
}

.auction-item:hover {
  transform: translateY(-3px); 
}

.auction-image-container {
  cursor: pointer;
}

.auction-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-height: 200px; 
  object-fit: cover; 
}

.auction-details h3 {
  margin: 10px 0;
  cursor: pointer;
  font-size: 1.2rem;
  color: #007bff; 
  transition: color 0.2s; 
}

.auction-details h3:hover {
  color: #0056b3; 
}

.bid-button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; 
}

.bid-button:hover {
  background-color: #0056b3; 
}

@media (max-width: 768px) {
  .auction-item {
      width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .auction-item {
      width: 100%;
  }
}
